<div id="banner">
    <span class="quote">"The Internet? Is that thing still around?"</span><br />
    <span class="author">(Homer Simpson)</span>
</div>
<div id="main-container">
    <p>Author: Arnaud Courbiere.</p>
    <p>Purpose: To be determined.</p>
    <p>Audience: All?</p>
</div>
