<div id="banner">
    <span class="quote">"The Internet? Is that thing still around?"</span><br />
    <span class="author">(Homer Simpson)</span>
</div>
<div id="main-container">
    <p>Welcome to my pixelated garden.</p>
    <p>It is under development, here are some links while waiting for real content to come:</p>
    <ul class="link-list">
        <li>- <a href="https://github.com/ArnaudCourbiere">My github account.</a></li>
        <li>- <a href="https://github.com/ArnaudCourbiere/node-mvc">Yet another node.js mvc framework built on top of express. I am developing it while building this website.</a></li>
        <li>- <a href="http://nodejs.org">node.js rocks :)</a></li>
    <ul>
</div>
